@use '../../base/breakpoints';

.projects__filters {
  margin-top: 4rem;

  .filter__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    &--item {
      padding: 1rem;
      border: 0.0625rem solid var(--c-red);
      transition: all 0.2s ease;
      color: var(--c-beige-light);

      &:hover,
      &:focus,
      &.active {
        background: var(--c-red);

        .filter__list--link {
          color: var(--c-beige-light);
          font-weight: 500;
        }
      }
    }

    &--link {
      color: var(--c-red);
      font-family: var(--ff-secondary), system-ui;
    }
  }
}