@use "../../base/breakpoints";

.contact__section {
  width: 80%;

  @include breakpoints.tablet {
    width: 90%;
  }

  @include breakpoints.mobile {
    width: 100%;
  }

  .contact__grid {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.5rem;

    @include breakpoints.tablet {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    @include breakpoints.mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .contact__info {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      &--title {
        color: var(--c-brown);
        font-size: 1.5rem;
        font-weight: 600;
        font-family: var(--ff-primary), Georgia, serif;
      }

      .contact__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &--item {
          display: inline-flex;
          gap: 0.25rem;
          color: var(--c-brown);
          font-size: 0.875rem;
          font-weight: 300;

          & strong {
            font-weight: 600;
          }
        }

        &--link {
          color: var(--c-red);
          text-decoration: underline;

          &:hover,
          &:focus {
            color: var(--c-brown);
          }
        }
      }
    }
  }
}