@use '../../base/breakpoints';

.single__back {
  font-size: 1.25rem;
  text-decoration: underline;
  margin-bottom: 1rem;

  &:before {
    content: "\2190";
  }

  &:hover,
  &:focus {
    color: var(--c-red);
  }
}

.single__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  .single__section--title, .single__gallery--title {
    color: var(--c-brown);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--ff-primary), Georgia, serif;

    @include breakpoints.tablet {
      font-size: 1.75rem;
    }

    @include breakpoints.desktop {
      font-size: 2rem;
    }
  }

  .single__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;

    &--container {
      display: grid;
      grid-template-columns: minmax(12.5rem, 18.75rem) auto;
      gap: 4rem;
      width: 100%;

      @include breakpoints.tablet {
        grid-template-columns: minmax(8.5rem, 10.75rem) auto;
        gap: 2rem;
      }

      @include breakpoints.mobile {
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    }

    a {
      color: var(--c-red);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--c-brown);
      }
    }

    &--content {
      color: var(--c-brown);

      & strong {
        font-weight: 600;
      }
    }
  }

  .single__gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0 0;

    &--container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;

      @include breakpoints.tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoints.mobile {
        grid-template-columns: 1fr;
      }
    }
  }
}