@use '../../base/breakpoints';

.single__back {
  font-size: 1.25rem;
  text-decoration: underline;
  margin-bottom: 1rem;

  &:before {
    content: "\2190";
  }

  &:hover,
  &:focus {
    color: var(--c-red);
  }
}

.single__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  .single__section--title, .single__gallery--title {
    color: var(--c-brown);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--ff-primary), Georgia, serif;

    @include breakpoints.tablet {
      font-size: 1.75rem;
    }

    @include breakpoints.desktop {
      font-size: 2rem;
    }
  }

  .single__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;

    &--container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      width: 100%;
    }

    a {
      color: var(--c-red);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--c-brown);
      }
    }

    &--content {
      color: var(--c-brown);

      & strong {
        font-weight: 600;
      }
    }
  }

  .single__gallery {
    &--container {

    }

    &--item {
      .image {

      }
    }
  }
}