$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Media Queries mixins
@mixin mobile {
  @media only screen and (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

/*
Lors de l'utilisation
.element {
  font-size: 16px;

  // Mobile : Écrans en dessous de 480px
  @include breakpoints.mobile {
    font-size: 14px;
  }
}
*/