@use '../base/breakpoints';

.project__card {
  display: inline-flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  background: var(--c-beige-mid);
  box-shadow: 0.25rem 0.5rem .25rem 0 var(--g-beige-01);
  transition: all 0.5s ease-in-out;

  &:hover,
  &:focus {
    transform: rotate(3deg);
  }

  &--link {
    text-decoration: none;
    min-width: 16.25rem;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    border: 0.0625rem dashed var(--g-brown-02);

    .project__card--content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card__title {
        color: var(--c-brown);
        padding: 0.5rem 0;
        font-size: 1.25rem;
        border-bottom: 0.0625rem dashed var(--c-brown);
        text-decoration: none;
        text-transform: capitalize;
      }

      .card__subtitle {
        color: var(--c-brown);
        font-size: 1rem;
        font-family: var(--ff-primary), Georgia, serif;
        font-weight: 300;
        line-height: 1.4;
        text-decoration: none;
      }

      .card__data {
        display: inline-flex;
        flex-wrap: wrap;

        .card__tools {
          align-self: stretch;
          color: var(--b-red, #C1272D);
          font-family: var(--ff-secondary), system-ui;
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }

      .card__type {
        position: absolute;
        display: inline-flex;
        transform: rotate(25deg);
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        background: var(--c-red);
        width: auto;

        .project-card__type {
          color: var(--c-beige-light);
          text-align: center;
          font-family: var(--ff-secondary), system-ui;
          font-size: 1rem;
          text-decoration: none;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }
}

.projets__coming, .featured__more {
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
  transform: rotate(6deg);
  background: var(--c-beige-mid);
  box-shadow: 0.25rem 0.5rem .25rem 0 var(--g-beige-01);

  &--content {
    display: flex;
    height: 100%;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border: 0.125rem dashed var(--c-red);

    .projets__coming--text, .featured__more--link {
      color: var(--c-red);
      text-align: center;
      font-family: var(--ff-secondary), system-ui;
      font-size: 1.25rem;
      line-height: 1.4;
      text-decoration: none;
    }
  }
}