@use '../base/breakpoints';

.projects__container,
.featured__container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.projects__grid, .projects > .projects__grid {
  display: grid;
  gap: 2.5rem;
  width: 100%;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;

  @media (min-width: 650px) {
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.desktop {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
