@use '../base/breakpoints';

.header__nav--burger {
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;

  @include breakpoints.mobile {
    display: block;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    stroke: var(--c-beige-light);
    width: 100%;
    height: 100%;
  }

  .close-icon {
    opacity: 0;
  }
}

.header__nav--container {
  @include breakpoints.mobile {
    position: fixed;
    top: 5.25rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--c-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: all 0.3s ease;
    overflow: hidden;
    gap: 2rem;
    transform: translateX(100%);
    z-index : 9999;
  }
}

/* Menu Ouvert */
.burger-checkbox:checked ~ .header__nav--container {
  transform: translateX(0);
}

.burger-checkbox:checked ~ .header__nav--burger {
  .burger-icon {
    opacity: 0;
  }

  .close-icon {
    opacity: 1;
  }
}

/* Checkbox */
.burger-checkbox {
  overflow-y: hidden;
  position: absolute;
  opacity: 0;
}

body:has(#burger-menu:checked) {
  overflow-y: hidden;
}
