.footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--c-brown);
  background-color: var(--c-beige-light);
  padding: 0;

  &__container {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    align-self: stretch;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 1900px;
    background-color: var(--c-beige-light);

    .footer {
      &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .footer__title {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          color: var(--c-brown);
          font-size: 1.5em;
          font-weight: 700;
          text-decoration: none;

          &:hover, &:focus {
            text-decoration: none;
          }

          svg {
            width: 1em;
            height: auto;
            flex-shrink: 0;
          }
        }

        .footer__contact {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;

          &--content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            .title {
              color: var(--c-red);
            }

            p {
              font-size: 0.875rem;
            }
          }

          &--button {
            display: flex;
            padding: 0.75rem;
            background-color: var(--c-red);
            justify-content: center;
            align-items: center;
            color: var(--c-beige-light);
            font-family: var(--ff-secondary), system-ui;
            font-size: 0.875rem;
            width: auto;
            text-decoration: none;

            &:hover,
            &:focus {
              background-color: var(--c-beige-light);
              border: 0.0625rem solid var(--c-red);
              justify-content: center;
              align-items: center;
              color: var(--c-red);
            }
          }
        }
      }

      &__nav, &__aside {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        width: auto;

        h3.footer__nav--title, h3.footer__resources--title, h3.footer__sociales--title {
          color: var(--c-red);
          font-size: 1.25rem;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.5rem;
          list-style: none;

          li {
            font-size: 1rem;
            font-weight: 400;
            width: 100%;

            a {
              text-decoration: none;
              color: var(--c-brown);

              &:hover,
              &:focus {
                color: var(--c-red);
              }
            }
          }
        }
      }
    }
  }

  &__legal {
    background-color: var(--c-brown);
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    color: var(--c-beige-light);
    font-weight: 400;
    max-width: 1900px;

    &--copyright {
      font-size: 1rem;
    }

    &--link {
      text-decoration: underline;
      color: var(--c-beige-light);

      &:hover,
      &:focus {
        color: var(--c-red);
      }
    }
  }
}