.header {
  background-color: var(--c-brown);
  color: var(--c-beige-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
  }

.lampe {
  &__button {

  }

  &__image {

  }
}
}