.header {
  background-color: var(--c-brown);
  color: var(--c-beige-light);
  box-shadow: 0 0.25rem 1rem 0 var(--g-beige-01);
  display: flex;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &__container {
    width: 100%;
    height: auto;
  }
}
